<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.golden.golden">

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".glide.GlideActivity"></activity>
        <activity android:name=".UI.UiActivity"/>
        <activity android:name=".mediaplayer.MpActivity"/>
        <activity android:name=".mediarecorder.MrActivity"/>
        <activity android:name=".okhttp.OkhttpActivity"/>
        <activity android:name=".retrofit.RetrofitActivity"/>
        <activity android:name=".soundpool.SpActivity"/>
        <activity android:name=".videoplayer.VpActivity"/>
        <activity android:name=".mmkv.MmkvActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <meta-data android:name="com.golden.golden.MyGlideAppMudule"
        android:value="AppGlideModule"/>

</manifest>
